* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    font: inherit;
}


label {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row {
    width: 100%;
}
.row:before,
.row:after {
    content: "";
    display: table;
    clear:both;
}

.hidden {
    display: none !important;
}

/* .col { float: left; } */
.col {
}

.labelx {
    margin-left: 10px;
    display: inline-block;
}

.tspacer {
    width: 10px;
    min-height: 1px;
}

.button {
    /* display: inline-block; */
    /* padding: 5px; */
    /* border: 1px solid black; */
    /* background: orange; */

    display: inline-block;
    padding: 5px;
    border: 1px solid #fbbb47;
    background: orange;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgb(116 2 41 / 84%);
    cursor: pointer;
}
.button:hover {
    /* background: blue; */
    border: 1px solid rgba(255,255,255, 1);
    opacity: 0.9;
}
.button.wider {
    padding-right: 10px;
    padding-left: 10px;
}
.button.right {
    margin-right: 2px;
}

.maincontainer {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.controls {
    background: #e91e63;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.controls .item{
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid black;

    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.canvas-container {
    /* margin-top: 35px; */
    /* margin-top: 4vh; */
    /* position: relative; */
    display: flex;
}

.scroller-container {
    width: 25px;
    /* height: 1gc */
    position: relative;
}

.canvas-scroller {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0px;
    background: black;
}

.dnacanvas {
    padding: 5px;
    /* border: 1px solid black; */
    box-sizing: border-box;
    /* height: 100%; */
    height: 92vh;
    width: 99vw;
}


.sequence-input {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    /* background: rgba(0,0,0, 0.8);; */
    /* background: white; */
    transition: all 0.3s ease-out;
}

.sequence-input .container{
    /* background: orange; */
    /* margin: 20px; */
}

.sequence-show {
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    padding: 10px 30px;;
    margin: 0px 10px;
    background: #10b510;
    opacity: 0.5;
    cursor: pointer;
    border: 3px solid #0e910e;
    border-radius: 5px;
    border-bottom: none;
    margin-bottom: -5px;
    transition: all 0.3s ease-out;
}
.sequence-show:hover {
    opacity: 1.0;
}

.sequence-input .close{
    display: flex;
    justify-content: right;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: -3px;
    /* z-index: 10; */
    /* position: relative; */
}
.sequence-input .close .c{
   background: red; 
   padding: 0px 30px;
   display: flex;
   align-items: center;
   border-radius: 6px;
}
.sequence-input .close-symbol{
    font-size: 2em;
    margin-left: 10px;
}
.dnainput {
    width: 100%;
    height: 30vh;
    padding: 20px;
    border: 0;
    /* background: rgba(0,255,0, 0.1); */
    font-size: 1.1em;
    color: rgba(0,0,0, 0.8);

    border-top: 4px solid white;
    background: rgba(255,255,255, 0.8);;
    box-shadow: 0px -5px 10px rgba(0,0,0, 0.15);
}

.sequence-removed {
    transform: translate(0px, 600px);
}
.show-button-removed {
    transform: translate(0px, 100px);
}
