*, html {
    /* width: 100%; */
    /* height: 100%; */
    padding: 0;
    margin: 0;
}

body, html {
    background: #cccccc;
    height: 100vh;
}

#pdf_container {
    /* display: flex; */
    /* align-items: center; */
    /*  */
    position: relative;
}

#pdf_container embed{
    margin: 0 auto;
    width: 90%;
    height: 600px;

    /* opacity: 0.5; */
    position: absolute;
    top: 10;
    left: 0;
    right: 0;
}

/* #pdf_container embed:nth-child(1){ */
/*     margin-left: 50px; */
/*     margin-top: 50px; */
/* } */

#content {
    height: 100%;
    flex: 1;
}

.hidden {
    display: none;
}
