/* MOBILE  */
@media screen and (max-width: 750px) {
    body{
    }
}

@media screen and (max-width: 1250px) {
    body{
    }


    .half {
        width: 100%;
        /* float:left; */
    }

    .wrap {
        padding: 0 10px;
    }

    .section_top .acts {
        font-size: 0.7em;
    }

    .section_top .main-info {
        font-size: 1.2em;
        /* text-align: center; */
    }

    .section_top .main-info .title{
        text-align: center;
        font-size: 4em;
    }

    .section_top .main-info .text{
        padding: 40px 20px;
        width: 100%;
        /* padding: 10px; */
        /* font-weight: bold; */
        background: #122647;
        color: white;
        opacity: 0.9;
    }

    .section_about .about {
        display: block;
    }

    .section_about .container img {
        width: 100%;
    }

    .section_about .container .service-text {
        width: 100%;
        padding: 5px;
        text-align: center;
    }

    .section_about .container .service-text h1 {
        font-size: 5em;
    }

    .section_about .wedo {
        flex-direction: column;
    }

    .section_about .wedo h1{
        font-size: 2em;
        padding-bottom: 0;
        padding-top: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
        /* background: rgba(32, 60, 97, 0.77); */
        background: rgba(18, 38, 71, 0.9);
        border-bottom: 2px solid rgba(0,0,0,0.2);
        text-align: right;
        color: rgba(243, 247, 255, 0.86);
    }

    .section_about .wedo .single {
        width: 100%;
        padding: 10px;
    }

    .section_about .wedo .single:hover{
        background: none;
        color: rgba(0,0,0, 0.8);
    }
    .section_tree .content_wrapper {
        left: 0;
        padding: 10px;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, 0.8);
    }

    .section_tree .content_wrapper .heading{
        font-size: 2.5em;
        padding: 40px 0;
        text-align: center;
        margin-bottom: 0;
    }

    .section_tree .content_wrapper p{
        padding: 40px;
    }

    .section_work .container {
        display: block;
    }

    .section_work .big-title {
        font-size: 3em;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .section_work .works {
        margin: 0;
        display: block;
    }

    .section_work .works .single {
        width: 90%;
        margin: 0 auto;
    }

    .section_contact .title {
        font-size: 2em;
    }

    .section_contact .container form {
        width: 100%;
    }

    .section_contact .container form label {
        display: block;
    }

    .section_contact .container form input {
        width: 100%;
    }

    .section_contact .address {
        padding: 20px;
    }

   .footer .logo  {
       width: 100%;
       text-align: center;
       margin-bottom: 20px;
   }

   .footer .left  {
       float: none;
   }

    .footer .cite {
        opacity: 0.1;
    }
}
